.t-theme-chat-header {
  display: flex;
  align-items: center;
  height: 4.5em;
  background-color: #ececec;
  border-bottom: 1px solid #d4d4d4;
  flex-shrink: 0;
}

.t-theme-chat-header .t-inner {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 0;
}

.t-theme-chat-header .t-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-width: 0;
}

.t-theme-chat-header .t-image {
  width: 45px;
  text-align: center;
  margin-right: 0.75em;
  flex-shrink: 0;
}

.t-theme-chat-header .t-info {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.t-theme-chat-header .t-title {
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px;
}

.t-theme-chat-header .t-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 85%;
  margin-left: 4px;
}

.t-theme-chat-header .t-user {
  display: inline-block;
  vertical-align: middle;
}

.t-theme-chat-header .t-online-indicator {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;

  margin: 0 0.75em -1px 0.275em;
}

.t-theme-chat-header .t-online-indicator[t-status="online"] {
  background-color: #22c55e;
}

.t-theme-chat-header .t-online-indicator[t-status="offline"] {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(50, 50, 50, 0.4);
  box-shadow: inset 0 0 0 1px rgba(50, 50, 50, 0.4);
}
