.t-theme-message-action-menu {
  display: flex;
  flex-direction: column;

  background-color: white;
  color: #111;
  border: 1px solid #d4d4d4;
  border-radius: 0.75em;
  box-shadow: 0 8px 24px rgba(115, 115, 115, 0.2);
  padding: 0.35em;
}

.t-theme-message-action-menu .t-menu-item {
  padding: 0.45em 0.65em;
  cursor: pointer;

  background: none;
  border: none;
  border-radius: 0.5em;
  text-align: left;
}

.t-theme-message-action-menu .t-menu-item:hover {
  background-color: #007df9;
  color: white;
}

.t-theme-message-action-menu .t-menu-item.t-danger {
  color: rgb(239, 68, 68);
}

.t-theme-message-action-menu .t-menu-item.t-danger:hover {
  background-color: hsla(0, 96%, 89%, 0.4);
  color: rgb(239, 68, 68);
}
