.t-theme-message-field {
  display: flex;
  flex-direction: column;

  /* cap height for when the emoji picker is expanded and the chatbox is small */
  max-height: calc(100% - 100px);
}

.t-theme-message-field .t-wrapper {
  flex-shrink: 0;
  position: relative;
  padding: 16px;
  color: #111;
  font-size: 16px;
  background-color: #ececec;
  border-top: #d4d4d4 solid 1px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
