.t-theme-voice-recorder {
  display: contents;
}

.t-theme-voice-recorder .t-close-button {
  margin-right: 0.4em;
  align-self: center;
}

.t-theme-voice-recorder .t-textbox-column {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 1.1em;
  background-color: #fff;
  border-radius: 0.75em;
  border-width: 1px;
  border-color: #fff;
  height: 3.3em;
  max-height: 3.3em;
  overflow: hidden;
}

.t-theme-voice-recorder .t-waveform {
  flex-grow: 1;
  z-index: 0;
  width: 100%;
  margin: 0.77em 0;
  margin-left: 1ex;
  position: relative;
}

.t-theme-voice-recorder .t-duration {
  margin: 1ex;
}

.t-theme-voice-recorder .t-stop-icon {
  color: rgb(239, 68, 68);
}
